* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
}

body {
  background: url("../imgs/background-image.svg"), lightgray 50%/cover no-repeat;
  position: relative;
}

.container .header {
  margin: 0 auto;
  max-width: 1440px;
}
.container .wrap-header {
  margin: 35px 134px 0px 135px;
}

.sub-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub-nav .contact-info {
  display: flex;
  align-items: center;
  gap: 47px;
}
.sub-nav .contact-info .contact-info__email,
.sub-nav .contact-info .contact-info__phone {
  display: flex;
  align-items: center;
  gap: 18px;
}
.sub-nav .contact-info .contact-info__email .email-address,
.sub-nav .contact-info .contact-info__email .phone-number,
.sub-nav .contact-info .contact-info__phone .email-address,
.sub-nav .contact-info .contact-info__phone .phone-number {
  color: #fff;
  font-family: Josefin Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.sub-nav .social-network {
  display: flex;
  gap: 30px;
}

.nav {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}

.ml-40 {
  margin-left: 40px;
}

.mr-116 {
  margin-right: 116px;
}

.ml-248 {
  margin-left: 248px;
}

.nav-list {
  display: flex;
  position: relative;
}
.nav-list .nav-item-icon {
  display: none;
}
.nav-list .nav-item {
  padding: 17px 0 13px;
}
.nav-list .nav-item .nav-link {
  text-decoration: none;
  color: #232233;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
}
.nav-list .nav-item .active {
  color: #5956E9;
  text-decoration-line: underline;
  margin: 0 38px 0 52px;
}
.nav-list :first-child {
  padding: 17px 0;
}
.nav-list .logo .logo-image {
  border-radius: 5px;
  background: var(--White, #fff);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: -15px;
  left: 485px;
  right: 485px;
  padding: 31px 17px 31px 16px;
}
.nav-list .btn-download {
  cursor: pointer;
  padding: 12px 15px 8px 16px;
  border-radius: 5px;
  background: #5956E9;
  color: var(--White, #fff);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px; /* 150% */
  text-transform: uppercase;
  border: none;
  margin: 5px 0px 5px 43px;
  font-family: Josefin Sans;
}

.wrap {
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
}
.wrap .left {
  margin: 187px 0 168px 185px;
  border: 18px solid #7572ff;
}
.wrap .left .left-content {
  background: #fff;
  margin: 35px 34px 36px -66px;
  width: 570px;
}
.wrap .left .left-content .left-content__title {
  padding: 40px 23px 18px 30px;
  color: #5956E9;
  font-size: 48.83px;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
  width: 100%;
}
.wrap .left .left-content .left-content__desc {
  padding: 0px 53px 52px 30px;
  color: #6c6c72;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.wrap .left .left-content .left-content__sub-title {
  padding: 0 251px 5px 30px;
  color: #232233;
  font-size: 25px;
  font-weight: 600;
  line-height: 37.5px;
  text-transform: uppercase;
}
.wrap .left .left-content .group-download-icon {
  padding: 0 0 40px 30px;
  display: flex;
  gap: 14px;
  align-items: center;
}
.wrap .right {
  margin: 82px 0 0 124px;
}
.about-wrap {
  background: #fff;
  width: 100%;
}
.about-wrap .about-content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 120px 0;
}
.about-wrap .about-content .about-title {
  margin: 0 0 18px;
  color: #232233;
  font-size: 31.25px;
  font-weight: 700;
  line-height: 47.25px;
  text-transform: uppercase;
  text-align: center;
}
.about-wrap .about-content .about-desc {
  color: #6c6c72;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 0 420px 0 419px;
}
.about-wrap .about-content .about-detail {
  margin-top: 60px;
  display: flex;
}
.about-wrap .about-content .about-detail .about-detail-left {
  margin: 0px 188px 0px 161px;
}
.about-wrap .about-content .about-detail .android-smartphone-image {
  position: relative;
}
.about-wrap .about-content .about-detail .ellipse-icon {
  margin-left: 74px;
  margin-top: -60px;
}
.about-wrap .about-content .about-detail .about-detail-right {
  margin-right: 135px;
}

.about-detail-right__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about-detail-right__list .about-detail-right__item {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 17px;
  align-items: flex-start;
  padding: 30px 20px 21px 18px;
}
.about-detail-right__list .about-detail-right__item .about-detail-right__content .about-detail-right__title {
  color: #232233;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px; /* 150% */
  text-transform: uppercase;
}
.about-detail-right__list .about-detail-right__item .about-detail-right__content .about-detail-right__desc {
  margin-top: 12px;
  color: #6c6c72;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.features-wrap {
  padding: 120px 0;
}

.features-content {
  max-width: 1440px;
  margin: 0 auto;
}
.features-content .features-title {
  color: #fff;
  font-weight: 700;
  line-height: 47.25px; /* 151.2% */
  text-transform: uppercase;
  text-align: center;
  font-size: 31.25px;
}
.features-content .features-desc {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 0 420px 0 419px;
}
.features-content .wrap-comment-icon {
  display: flex;
  margin: 60px 0 22px;
  justify-content: center;
}
.features-content .features-sub-title {
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  line-height: 37.5px; /* 150% */
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 18px;
}
.features-content .features-sub-desc {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin: 0px 572px 0 571px;
}
.features-content .wrap-support-icon {
  display: flex;
  margin: 0 0 30px;
  justify-content: center;
  margin-top: -78px;
}
.features-content .features-support-title {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px; /* 150% */
  text-transform: uppercase;
  margin-bottom: 18px;
}
.features-content .features-support-desc {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0px 572px 0 571px;
}

.t-a-l {
  text-align: left;
}

.t-a-r {
  text-align: right;
}

.mt-60 {
  margin-top: 60px;
}

.mt-62 {
  margin-top: 62px;
}

.features-app-wrap {
  display: flex;
  margin: 60px 0 0;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  padding: 0px 112px 0 150px;
}
.features-app-wrap .features-app-group {
  display: flex;
  flex-direction: column;
  gap: 347px;
}
.features-app-wrap .features-app-image {
  margin-right: -90px;
  margin-top: -62px;
}
.features-app-wrap .features-app-item .features-app-wrap-icon {
  display: flex;
}
.features-app-wrap .features-app-item .features-app-title {
  margin: 22px 0 18px;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 37.5px;
  text-transform: uppercase;
}
.features-app-wrap .features-app-item .features-app-desc {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.interface-look-wrap {
  background: #fff;
}
.interface-look-wrap .interface-look-content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 120px 0 162px;
}
.interface-look-wrap .interface-look-content .interface-look-title {
  color: #232233;
  font-size: 31.25px;
  font-weight: 700;
  line-height: 47.25px; /* 151.2% */
  text-transform: uppercase;
  text-align: center;
}
.interface-look-wrap .interface-look-content .interface-look-desc {
  color: #6c6c72;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin: 23px 420px 60px 419px;
}

.mr-156 {
  margin-right: -156px;
}

.z-index-99 {
  z-index: 99;
}

.wrap-slider {
  display: flex;
  padding: 0 72px;
  align-items: center;
}
.wrap-slider .left-button,
.wrap-slider .right-button {
  height: 84px;
}
.wrap-slider img.left-button-icon {
  border-radius: 50%;
  border: 1px solid #5956E9;
  padding: 17px;
  cursor: pointer;
  width: 84px;
  height: 84px;
}
.wrap-slider .slider-img-list {
  display: flex;
  margin: 0 30px;
}
.wrap-slider .right-button-icon {
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #5956e9;
  background-color: #5956E9;
  padding: 17px;
  width: 84px;
  height: 84px;
}

.slider-dots {
  margin: 40px 624px 120px 662px;
}

.download-app-wrap {
  display: flex;
  gap: 80px;
  padding: 0px 138px 0 136px;
}
.download-app-wrap .download-app-wrap-left .download-app-title {
  margin: 17px 0 1px;
  color: #232233;
  font-size: 31.25px;
  font-weight: 700;
  line-height: 47.25px; /* 151.2% */
  text-transform: uppercase;
}
.download-app-wrap .download-app-wrap-left .download-app-desc {
  color: #6c6c72;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.download-app-wrap .download-app-wrap-left .download-app-group-btn {
  margin: 40px 0 59px;
  display: flex;
  gap: 25px;
}
.download-app-wrap .gravity-scene-iphone {
  position: relative;
}
.download-app-wrap .gravity-ellipse-icon {
  margin-left: 122px;
  margin-top: -65px;
}

.stats-wrap {
  display: flex;
  gap: 30px;
}
.stats-wrap .stats-item {
  border-radius: 10px;
  background: var(--Royal-blue, #5851ea);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 0 20px;
  width: 100%;
  text-align: center;
}
.stats-wrap .stats-item .stats-number {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 18px 0;
}
.stats-wrap .stats-item .stats-text {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px; /* 150% */
  text-transform: uppercase;
}

.use-content {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  padding: 120px 0px 216px;
}
.use-content .use-title {
  color: #fff;
  font-size: 31.25px;
  font-weight: 700;
  line-height: 47.25px; /* 151.2% */
  text-transform: uppercase;
}
.use-content .use-desc {
  color: #fff;
  margin: 23px 421px 0 418px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.member-team-wrap {
  background: #fff;
  position: relative;
  padding-bottom: 248px;
}
.member-team-wrap .video-image {
  position: absolute;
  top: -250px;
  left: 50%;
  transform: translateX(-50%);
}
.member-team-wrap .member-team-content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 283px 0 0;
  text-align: center;
}
.member-team-wrap .member-team-content .member-team-title {
  color: #232233;
  font-size: 31.25px;
  font-weight: 700;
  line-height: 47.25px; /* 151.2% */
  text-transform: uppercase;
}
.member-team-wrap .member-team-content .member-team-desc {
  color: #6c6c72;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin: 23px 0 60px;
}

.mt-66 {
  margin-top: 66px;
}

.plr-22 {
  padding: 0 22px;
}

.plr-21-23 {
  padding: 0px 23px 0px 21px;
}

.plr-20-24 {
  padding: 0px 24px 0px 20px;
}

.member-team-list {
  display: flex;
  gap: 30px;
  padding: 0 135px;
}
.member-team-list .member-team-item {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
}
.member-team-list .member-team-item .member-team-avatar-wrap {
  position: relative;
  padding: 29px 75px 0 75px;
}
.member-team-list .member-team-item .member-team-avatar-wrap .member-team-avatar {
  position: absolute;
  transform: translate(-50%, 10px);
  left: 50%;
}
.member-team-list .member-team-item .member-team-name {
  color: #232233;
  font-size: 31.25px;
  font-weight: 700;
  line-height: 47.25px; /* 151.2% */
  text-transform: uppercase;
}
.member-team-list .member-team-item .member-team-job {
  color: var(--gray-paragraph, #6c6c72);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px; /* 150% */
  text-transform: uppercase;
}
.member-team-list .member-team-item .member-team-info {
  color: var(--gray-paragraph, #6c6c72);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin: 14px 0 40px;
}

.member-team-social-network {
  display: flex;
  gap: 31px;
  justify-content: center;
  margin-bottom: 53px;
}
.member-team-social-network .line {
  background: #6c6c72;
  width: 1px;
}

.contact-info-wrap {
  filter: drop-shadow(0px 10px 100px rgba(0, 0, 0, 0.2392156863));
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
}
.contact-info-wrap .contact-info-list {
  display: flex;
  padding: 65px 0;
  border-radius: 30px;
  background: #fff;
  width: 100%;
  filter: drop-shadow(0px 10px 100px rgba(0, 0, 0, 0.2392156863));
  top: 120px;
  position: absolute;
  z-index: 99;
  left: 50%;
  transform: translatex(-50%);
  width: calc(100% - 270px);
}
.contact-info-wrap .contact-info-list .big-line {
  width: 4px;
  background: #6c6c72;
  height: 117px;
  margin-left: 184px;
}
.contact-info-wrap .contact-info-list .contact-info-item {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-left: 50px;
}
.contact-info-wrap .contact-info-list .contact-info-item .contact-info-text {
  color: var(--Black, #232233);
  font-size: 25px;
  font-weight: 600;
  line-height: 37.5px; /* 150% */
  text-transform: lowercase;
}

.footer {
  background: #232233;
}
.footer .footer-wrap {
  max-width: 1440px;
  margin: 0 auto;
}

.ml-60 {
  margin-left: 60px;
}

.footer-list {
  padding: 235px 0 67px;
  border-bottom: 1px solid #fff;
  display: flex;
  margin: 0 138px 0 135px;
}
.footer-list .footer-item {
  width: 100%;
}
.footer-list .footer-item .footer-item-title {
  color: #fff;
  font-size: 31.25px;
  font-weight: 700;
  line-height: 47.25px; /* 151.2% */
  text-transform: uppercase;
}
.footer-list .footer-item .footer-item-desc {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin: 1px 0 38px;
  width: 334px;
}
.footer-list .footer-item .footer-item-text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin: 11px 71px 33px 0;
}

.footer-social-network {
  display: flex;
  gap: 30px;
}
.footer-social-network .line {
  width: 1px;
  height: 20px;
  background-color: #fff;
}

.footer-item-list-link {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 11px;
}
.footer-item-list-link .footer-item-link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.footer-group {
  border-radius: 4px;
  background: var(--White, #fff);
  display: flex;
}
.footer-group .footer-input {
  border: none;
  width: 100%;
  border-radius: 4px;
  padding: 13px 0px 13px 18px;
  font-family: Josefin Sans;
  color: #6c6c72;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.footer-group .footer-btn {
  border-radius: 4px;
  background: var(--Royal-blue, #5956e9);
  border: none;
  margin: 2px;
  cursor: pointer;
}
.footer-group .footer-btn img.send-mail-icon {
  padding: 11px 14px;
}

.footer-copyright {
  justify-content: center;
  align-items: center;
  padding: 18px 0;
  display: flex;
  gap: 18px;
}
.footer-copyright .footer-copyright-text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

@media (max-width: 1439px) {
  .container {
    overflow: hidden;
  }
  .active {
    margin: 0 34px 0 34px;
  }
  .nav-list .logo .logo-image {
    left: 412px;
  }
  .mr-116 {
    margin-right: 64px;
  }
}
@media (max-width: 1367px) {
  .nav-list .btn-download {
    margin: 5px 0px 5px 27px;
  }
}
@media (max-width: 1024px) {
  .body {
    overflow: visible;
  }
  .container .header {
    margin: 0 auto;
    max-width: 100%;
  }
  .container .wrap-header {
    margin: 35px 0px;
    padding: 0 16px;
  }
  .sub-nav {
    display: none;
  }
  .nav-list {
    align-items: center;
    justify-content: space-between;
  }
  .nav-list .nav-item {
    display: none;
  }
  .nav-list .nav-item-icon {
    display: block;
    padding: 0 16px;
  }
  .nav-list .logo .logo-image {
    position: static;
    box-shadow: none;
    padding: 16px;
  }
  .nav-list .btn-download {
    display: none;
  }
  .wrap {
    max-width: 100%;
    flex-direction: column;
  }
  .wrap .left {
    margin: 0;
  }
  .wrap .left .left-content {
    margin: 0;
    width: 100%;
  }
  .wrap .left .left-content .left-content__title {
    font-size: 32px;
  }
  .wrap .left .left-content .left-content__sub-title {
    font-size: 18px;
    padding: 0 0px 5px 30px;
  }
  .wrap .right {
    margin: 32px 0;
    padding: 0 16px;
  }
  .wrap .right .mobile-app-image {
    margin: 0 auto;
    width: 100%;
  }
  .about-wrap .about-content {
    padding: 60px 0;
  }
  .about-wrap .about-content .about-desc {
    padding: 0 16px;
  }
  .about-wrap .about-content .about-detail {
    flex-direction: column;
  }
  .about-wrap .about-content .about-detail .android-smartphone-image {
    margin: 0;
    width: 100%;
    padding: 0 16px;
  }
  .about-wrap .about-content .about-detail .about-detail-right {
    margin: 0;
    padding: 0 16px;
  }
  .features-wrap {
    padding: 60px 0;
  }
  .features-content .features-desc {
    padding: 0 16px;
  }
  .features-content .features-sub-desc {
    margin: 0;
    padding: 0 16px;
  }
  .features-content .wrap-support-icon {
    margin-top: 24px;
  }
  .features-content .features-support-desc {
    margin: 0;
    padding: 0 16px;
  }
  .features-app-wrap {
    align-items: center;
    flex-direction: column;
    padding: 0px 16px;
  }
  .features-app-wrap .features-app-group {
    gap: 24px;
    text-align: center;
  }
  .features-app-wrap .t-a-r {
    text-align: center;
  }
  .features-app-wrap .mt-60 {
    margin-top: 0;
  }
  .features-app-wrap .mt-62 {
    margin-top: 0;
  }
  .features-app-wrap .features-app-image {
    margin: 0;
    padding: 0 16px;
  }
  .interface-look-wrap .interface-look-content {
    padding: 60px 0;
  }
  .interface-look-wrap .interface-look-content .interface-look-desc {
    margin: 0;
    padding: 0 16px;
  }
  .mr-156 {
    margin-right: 0;
  }
  .wrap-slider {
    padding: 0 16px;
  }
  .wrap-slider .slider-img-list {
    overflow: scroll;
  }
  .wrap-slider .left-button-icon,
  .wrap-slider .right-button-icon {
    display: none;
  }
  .slider-dots {
    display: none;
  }
  .download-app-wrap {
    display: block;
    padding: 0px 16px;
    text-align: center;
    margin-top: 32px;
  }
  .download-app-wrap .download-app-wrap-left .download-app-group-btn {
    justify-content: center;
  }
  .stats-wrap {
    display: flex;
  }
  .stats-wrap .stats-item {
    margin-bottom: 16px;
  }
  .download-app-wrap-right {
    margin-top: 32px;
  }
  .gravity-scene-iphone {
    width: 100%;
  }
  .use-content .use-desc {
    margin: 0;
  }
  .member-team-wrap .video-image {
    position: absolute;
    width: 100%;
  }
  .member-team-wrap .member-team-content {
    padding: 173px 16px 0;
  }
  .member-team-list {
    display: block;
    padding: 0 16px;
  }
  .member-team-list .member-team-item {
    padding: 24px 0;
    margin-bottom: 24px;
  }
  .member-team-list .member-team-item .member-team-avatar-wrap {
    padding: 0;
  }
  .contact-info-wrap .contact-info-list {
    display: block;
    padding: 65px 0;
    left: 50%;
    transform: translatex(-50%);
    width: calc(100% - 32px);
  }
  .contact-info-wrap .contact-info-list .contact-info-item {
    padding: 0 16px;
    margin-left: 0;
  }
  .footer-list {
    padding: 270px 16px 40px;
    text-align: center;
    display: block;
    margin: 0;
  }
  .footer-list .footer-item {
    margin-bottom: 32px;
  }
  .footer-list .footer-item .footer-item-text {
    margin: 0 0 24px;
  }
  .footer-list .footer-item .footer-item-desc {
    width: auto;
  }
  .ml-60 {
    margin-left: 0;
  }
  .footer-social-network {
    justify-content: center;
  }
  .footer-copyright {
    padding: 18px 16px;
    align-items: flex-start;
  }
}
@media (max-width: 738px) {
  .wrap .left .left-content .group-download-icon {
    flex-direction: column;
    align-items: baseline;
  }
  .about-wrap .about-content .about-detail .about-detail-left {
    margin: 0 0 16px;
  }
  .download-app-wrap {
    margin-top: 8px;
  }
  .download-app-wrap .gravity-ellipse-icon {
    margin-left: 0;
  }
  .features-app-wrap .features-app-image {
    width: 100%;
  }
  .stats-wrap {
    display: block;
  }
  .download-app-wrap-right {
    margin-top: 8px;
  }
  .use-content {
    padding: 60px 16px 116px;
  }
  .member-team-wrap .video-image {
    top: -100px;
  }
  .member-team-wrap .member-team-content {
    padding: 163px 16px 0;
  }
  .contact-info-wrap .contact-info-list {
    width: 100%;
  }
  .contact-info-wrap .contact-info-list .contact-info-item {
    gap: 8px;
  }
}

/*# sourceMappingURL=main.css.map */
